body {
  	background: url(../img/background-chess.jpg) no-repeat;
  	background-size: cover;
}
a {
	text-decoration: none;
	color: #0099cc;
}
h2 {
	font-family: Georgia;
	font-size: 18px;
 	color: black;
 	text-align: center;
}
h3 {
	font-family: 
	font-size: 12px;
	text-align: center;
}
p {
	color: black;
 	font-family: verdana;
  	font-size: 12px;
}

.footer p {
	color: white;
 	font-family: verdana;
  	font-size: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

li {
	float: left;
}

li a {
	display: block;
	background-color: #f2dfd3;
	color: #013220;
	text-align: center;
	padding: 12px;
	text-decoration: none;
}
.vertical_menu {
	border-radius: 10px;
	border-style: groove;
	border-collapse: collapse;
}
.vertical_menu a:hover {
	background-color: #ccc 
}
.vertical_menu a.active {
	background-color: #a7b2aa;
	color: white;
}

.news {
	width: auto;
	height: 20%;
	background: #e0ebab;
	padding: 40px;
	text-align: center;
	margin: 15px;
	margin-top: 5%;
	font-family: system-ui;
	color: black;
	border-radius: 10px;
}
.upcoming-events {
	width: auto;
	height: 20%;
	background: #47a589;
	padding: 40px;
	text-align: center;
	margin: 15px;
	margin-top: 5%;
	font-family: system-ui;
	color: black;
	border-radius: 10px;
}
.live-elo-feed {
	width: auto;
	height: auto;
	background: #dfc4c7;
	padding: 40px;
	text-align: center;
	margin: 30px;
	margin-top: 5%;
	font-family: system-ui;
	color: black;
	border-radius: 10px;
}

.about {
	width: auto;
	background: #e0ebab;
	padding: 40px;
	text-align: center;
	margin: 15px;
	margin-top: 5%;
	font-family: system-ui;
	color: black;
	border-radius: 10px;
}
.about h2 {
	text-align: left;
}
.about p {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	text-align: left;

}
#about-link {
	color: blue;
}
.box {
	width: auto;
	background: rgba(255, 255, 255, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	font-family: system-ui;
	color: white;
}
.box-forinfo {
	width: auto;
	background: rgba(255, 255, 255, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	font-family: system-ui;
	color: white;
}
.box-img {
	border-radius: 10%;
	width: 200px;
	height: 200px;
}
.box-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #bbbbbb;
}
.footer-info {
	clear: both;
	border: 1px groove #aaaaaa;
	color: white;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	margin: 0;
	position: sticky;
	bottom: 0px;
	width: 100%;
}
.footer {
	clear: both;
	border: 1px groove #aaaaaa;
	color: white;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	margin: 0;
	position: fixed;
	bottom: 0px;
	width: 100%;
}